footer {
  width: 100%;
  background-color: #333333;
}
.container-footer-all {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
}
.container-footer {
  width: 80%;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.copy {
  width: 80%;
  margin: auto;
  text-align: left;
  padding: 20px;
  color: white;
  display: block;
  font-size: 13px;
  margin-top: 30px;
  padding-left: 0px;
  padding-right: 0px;
}
.copy p {
  margin-bottom: 2px;
  color: #ffffff;
}
.logo-redes {
  max-width: 400px;
}
.soporte {
  max-width: 400px;
}
.listas-footer {
  max-width: 400px;
}
.h2-footer {
  padding: 20px;
  padding-left: 10px;
  margin: auto;
  font-size: 20px;
  color: white;
  margin: 0 0 10px;
  font-weight: 400;
}
.a-footer {
  color: white;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 1px;
}
ul {
  list-style: none;
}
.list-footer {
  padding: 4px 0;
  margin: auto;
  line-height: 20px;
  padding-left: 10px;
}
.icon-social {
  color: white;
  margin: auto;
  font-size: 20px;
  padding: 4px 0;
  padding-left: 10px;
}
