<footer>
  <div class="container-footer-all">
      <div class="container-footer">
          <div class="logo-redes">
              <h2 class="h2-footer">Redes Sociales</h2>

              <a class="a-footer" href="https://fb.me/santiagomaristabolivia"><em class="fab fa-facebook icon-social" aria-hidden="true"></em></a>
              <a class="a-footer" href="https://twitter.com/maristasantiago"><em class="fab fa-twitter icon-social" aria-hidden="true"></em></a>
              <a class="a-footer" href="https://www.instagram.com/santiagomaristabo/"><em class="fab fa-instagram icon-social" aria-hidden="true"></em></a>
              <a class="a-footer" href="https://www.youtube.com/channel/UCPsHCj9Z2RLa4vn91unGinw"><em class="fab fa-youtube icon-social" aria-hidden="true"></em></a>

          </div>
          <div class="soporte">
              <h2 class="h2-footer">Soporte</h2>
              <ul>
                  <li class="list-footer"><a class="a-footer" href="">Preguntas Frecuentes</a></li>
                  <li class="list-footer"><a class="a-footer" href="">Contactanos</a></li>
                  <li class="list-footer"><a class="a-footer" href="">Direccion</a>
                  </li>
                  <li class="list-footer"><a class="a-footer" href="">Politicas de Cookies</a></li>
                  <li class="list-footer"><a class="a-footer" href="">Terminos y Condiciones</a></li>
              </ul>
          </div>
          <div class="listas-footer">
              <h2 class="h2-footer">Veterina Fernandez</h2>
              <ul>
                  <li class="list-footer"><a class="a-footer" href="">Inicio</a></li>
                  <li class="list-footer"><a class="a-footer" href="">Productos</a></li>
                  <li class="list-footer"><a class="a-footer" href="">Adopcion</a></li>
                  <li class="list-footer"><a class="a-footer" href="">Nosotros</a></li>
              </ul>
          </div>
      </div>
      <div class="copy">
          <p>Copyright © 2020 | Clinica Veterinaria Fernandez</p>
      </div>
  </div>

</footer>
