.header-banner{
  width: 100%;
  height: 100vh;

}
/*
.img-header{
  height: 60%;
} */

.img {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: table-cell;
  vertical-align: middle;
  z-index: 98;
}

.img-header2{
  width: 50%;
  height: 100vh;
  float: left;
}
.img-header3{
  width: 50%;
  float: right;
}
.container-header {
  height: 100%!important;
  width: 80%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.degrade {
  height: 100%!important;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.bienvenido{
  /* position: absolute;
  padding: 50px;
  width: 50%;
  padding-top: 150px;
  padding-left: 0px; */
  position: absolute;
  top: 28%;
  padding: 0 90px;
  width: 50%;
  /* padding-top: 25%; */
  /* padding-left: 0px;*/
}
.lo{
  padding-left: 0px;
}
.lbl{
  cursor: pointer;
  padding: 10px;
}
