<header class="header">
  <h2 class="logo">Veterinaria Fernandez</h2>
  <input type="checkbox" id="chk">
  <label for="chk" class="show-menu-btn">
    <em class="fas fa-bars" aria-hidden="true"></em>
  </label>
  <!-- <div class="btnd">
    <a href="" class="btn">Iniciar Sesion</a>
  </div> -->
  <ul class="menu">
    <a href="">Productos</a>
    <a href="">Servicios</a>
    <a href="">Adopcion</a>
    <a href="">Nosotros</a>
    <a href="">Contactanos</a>
    <a routerLink="/login">Iniciar Sesion</a>
    <label for="chk" class="hide-menu-btn">
      <em class="fas fa-times" aria-hidden="true"></em>
    </label>
  </ul>
  <!-- <hr> -->
</header>
