

<div class="header-banner">
  <div class="img-header3">
    <div class="img-header">
      <img class="img" src="/assets/img/veterinaria4.png" alt="">
    </div>
  </div>
  <div class="img-header2">
    <div class="bienvenido">
      <h1>Clinica Veterinaria Fernandez</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod ipsum harum magnam ad neque fugiat minima mollitia, ex repudiandae dicta tempora commodi aliquam. Saepe eius iusto accusamus distinctio atque maiores?</p>
    </div>
  </div>
</div>



<h1 class="title">Servicios Veterinarios para tu mascota</h1>
<div class="container-ciudades">
  <div class="card">
    <span class="fasicon icon alt fas fa-paw" aria-hidden="true"></span>
    <br><br>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem voluptatem dicta a iusto doloribus voluptates corrupti officia corporis, dolores distinctio nam assumenda modi, aliquid accusamus ipsum vitae perferendis illo optio.</p>
      <!-- <a href="html/inicial.html" class="btn">Saber más</a> -->
  </div>
  <div class="card">
    <span class="fasicon icon alt fas fa-briefcase-medical" aria-hidden="true"></span>
    <br><br>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur impedit magni maxime perferendis totam quasi eveniet unde distinctio saepe accusantium explicabo quae delectus deserunt quisquam, exercitationem, dolores quidem omnis optio!</p>
      <!-- <a href="html/primaria.html" class="btn">Saber más</a> -->
  </div>
  <div class="card">
    <span class="fasicon icon alt fas fa-stethoscope" aria-hidden="true"></span>
      <br><br>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias dolorem amet ea hic sint doloremque quisquam quos eaque fugiat quo, perferendis incidunt libero, obcaecati eius neque harum eligendi? Possimus, necessitatibus!.</p>
      <!-- <a href="html/secundaria.html" class="btn">Saber más</a> -->
  </div>
</div>




<section id="contact" class="contactd">
  <!-- <h1 class="titulo">Colegio Santiago Marista</h1> -->
  <div class="inner">
      <section name="direccion">
          <iframe title="SantiagoMarista" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d121835.93283380047!2d-66.23391639418062!3d-17.393883068703936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93e373e0d9e4ab27%3A0xa2719ae9532c3e65!2sCochabamba!5e0!3m2!1sit!2sbo!4v1598476979036!5m2!1sit!2sbo" width="575" height="660" style="border:0" allowfullscreen=""></iframe>
      </section>
      <section class="split">
        <div class="contentBanner">
          <h1 class="contd2">Puedes econtrarnos en la siguiente direccion</h1>
        </div>
          <section>
              <div class="contact-method">
                  <span class="icon alt fas fa-envelope" aria-hidden="true"></span>
                  <h3 class="cont">information@untitled.tld</h3>
                  <!-- <a href="#" class="contd">santiago_marista@hotmail.com</a> -->
              </div>
          </section>
          <section>
              <div class="contact-method">
                  <span class="icon alt fas fa-phone-alt" aria-hidden="true"></span>
                  <h3 class="cont">(+591) 4-400000</h3>
                  <!-- <span>(+591) 4-4473119</span> -->
              </div>
          </section>
          <section>
              <div class="contact-method">
                  <span class="icon alt fas fa-map-marker-alt" aria-hidden="true"></span>
                  <!-- <h3 class="cont">Dirección</h3> -->
                  <h3 class="cont">Av. San Martin #265, Nataniel Aguirre, Cochabamba<br>
                      Cochabamba, 00000<br>
                      Bolivia</h3>
              </div>
          </section>
          <section>
              <div class="contact-method">
                  <span class="icon alt far fa-clock" aria-hidden="true"></span>
                  <!-- <h3 class="cont">Horarios</h3> -->
                  <h3 class="cont">Lunes a Viernes<br>
                      9:00 a 16:00
                  </h3>
              </div>
          </section>
      </section>
  </div>
</section>
