@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

* {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #efe9f4;
}

body {
  letter-spacing: -0.015em;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}
